/_book
.Rproj.user
/.quarto/
.DS_Store
.Rhistory
*.ipynb_checkpoints*
.idea
datasets/atn_satellite_telemetry/data/src/
datasets/atn_satellite_telemetry/data/dwc/*
!datasets/atn_satellite_telemetry/data/dwc/137491/
!datasets/atn_satellite_telemetry/data/dwc/137494/
!datasets/atn_satellite_telemetry/data/dwc/38553/
datasets/atn_satellite_telemetry/.env
